.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../diary.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.title {
  font-size: 40px;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
  color: #d5dbd6;
}
.intro-text {
  width: 100%;
  text-align: center;
  background-color: #3b3a3a; /*#636664; #666b67;*/
  padding: 25px 25px 35px 25px;
  border-radius: 20px;
}

.buttonContainer {
  margin-top: 50px;
  justify-content: space-evenly;
}

.landingbutton {
  width: 100px;
  height: 55px;
}
